<div mat-dialog-content>
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <mat-card class="settings-card">
        <mat-card-title>Projects</mat-card-title>
        <mat-card-content>
          <mat-selection-list #projectList>
            <mat-list-option *ngFor="let project of projects">
              {{project.projectName}}
            </mat-list-option>
          </mat-selection-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <mat-card class="settings-card">
        <mat-card-title>Members</mat-card-title>
        <mat-card-content>
          <mat-selection-list #projectList>
            <mat-list-option *ngFor="let member of members">
              {{member.name}} ({{member.initials}})
            </mat-list-option>
          </mat-selection-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-checkbox>Include Upcoming</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-checkbox>Track History</mat-checkbox>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial>Save</button>
</div>


