.settings-card {
  width: 100%;
  height: 100%;
  //margin-left: 5px;
  //margin-right: 5px;
  //background: rgb(78, 78, 78);
}

.settings-content {
  height: inherit;
  overflow-y: auto;
}

.settings-card mat-card-title {
  padding-top: 24px;
}

.settings-content>mat-selection-list{
  padding-bottom: 49px;
}
