<mat-expansion-panel (opened)="story.expanded = true"
                     (closed)="story.expanded = false" [hideToggle]="true" matTooltip="story.name">
  <mat-expansion-panel-header class="story-item">
    <mat-panel-description>
      <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
      &nbsp;<mat-icon>{{statusMap[story.currentState]}}</mat-icon>
      {{story.expanded ? '&nbsp;' : ''}}
      <mat-icon *ngIf="story.expanded">{{typeMap[story.storyType]}}</mat-icon>
      &nbsp;<mat-icon>{{numberMap[story.estimate]}}</mat-icon>
      &nbsp;#{{story.id}}
      &nbsp;<b>{{story.expanded ? story.projectName : getAbbvr(story.projectName)}}</b>
      &nbsp;{{story.expanded ? '' : getShortForm(story.name)}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
      {{story.name}}
    </mat-list-item>
    <mat-divider *ngIf="story?.labels?.length"></mat-divider>
    <mat-list-item *ngIf="story?.labels?.length">
      <mat-chip-list>
        <mat-chip *ngFor="let label of story.labels">{{label.name}}</mat-chip>
      </mat-chip-list>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <button mat-button (click)="openSnackBar('Copied: ' + copyText(story.url), 'Close')">#{{story.id}}</button>
      <button mat-icon-button (click)="openSnackBar('Copied: ' + copyBranchName(story), 'Close')">
        <mat-icon>call_split</mat-icon>
      </button>
    </mat-list-item>

  </mat-list>
</mat-expansion-panel>
