<mat-toolbar color="primary" class="toolbar">

  <mat-toolbar-row>
    <span>
      <b>{{this.pivotal.user?.name}}</b>
    </span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openSettings()">
      <mat-icon aria-label>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="logout();">
      <mat-icon color="{{logoutClicked ? 'warn' : ''}}" [style.text-shadow]="logoutClicked ? '0 0 5px' : '0 0 0'"
                aria-label>{{logoutIcon}}
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

